body
{
 font-family:arial;
 color:white;
 background-color:black;
}

a:link
{
 color:#0000FF;
 text-decoration:underline;
}

a:visited
{
 color:#800080;
 text-decoration:underline;
}

a:hover
{
 color:#FFFF00;
 text-decoration:underline;
}